._namespace {
  float: left;
}

a {
  padding: 11px 14px;
  display: inline-block;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #555555;
    color: white;
    text-decoration: inherit;
  }
}