body {
  padding-left: 45px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

._global {
  a {
    color: #555555;
    text-decoration: none;
  }

  .rightContent {
    margin-left: 25%;
    width: 75%;
    padding-left: 12px;
  }
}