.login {
  position: relative;
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  color: #666666;
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Form Module */ }
  .login .form-module {
    width: 320px;
    height: 272px;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 150px auto; }
  .login .form-module .form {
    padding: 40px; }
  .login .form-module h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-align: center; }
  .login .form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  .login .form-module input:focus {
    border: 1px solid #33b5e5;
    color: #333333; }
  .login .form-module button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  .login .form-module button:hover {
    background: #178ab4; }
