<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>登陆 | 律师个人网站管理后台</title>
  <link rel="stylesheet" href="/static/login.css">
</head>
<body class="login">
<div class="module form-module">
  <div class="form">
    <h2>网站后台管理系统</h2>
    <form id="form">
      <input type="text" name="usermail" placeholder="用户名或者邮箱"/>
      <input type="password" name="password" placeholder="密码"/>
      <input type="hidden" name="__CSRF__" value="<%= token %>"/>
      <button>Login</button>
    </form>
  </div>
</div>
</body>
<script src="/static/login.bundle.js"></script>
</html>